<p id="notice"><%= notice %></p>
<%= link_to 'Go to Items', items_path %>
<h1>Backpacks</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Capacity</th>
      <th>Weight Limit</th>
      <th>Items</th>
      <th>Available Space</th>
      <th>Overweight</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @backpacks.each do |backpack| %>
      <tr>
        <td><%= backpack.id %></td>
        <td><%= backpack.capacity %></td>
        <td><%= backpack.weight_limit %></td>
        <td><%= backpack.slots.count %></td>
        <td><%= backpack.available_capacity %></td>
        <td><%= backpack.overweight? %></td>
        <td><%= link_to 'Show Items', backpack %></td>
        <td><%= link_to 'Edit', edit_backpack_path(backpack) %></td>
        <td><%= link_to 'Destroy', backpack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Backpack', new_backpack_path %>
